.Container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80%;
}

.SignInCol {
    height: 350px;
}

.SignInCol {
    height: 500px;
}

.Image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}