.App {
    font-family: 'Montserrat', sans-serif;
}

.Height {
    height: 100vh;
}

.Content {
    background-color: #ffffff;
    padding: 10px;
    border-radius: 2px;
    border: 1px solid #dadadf;
}

.Image {
    object-fit: cover;
    height: 200px;
    width: 200px;
}

input[type="file"] {
    display: none;
}